#main {
    border: 5px black solid;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: antiquewhite;
}

.flex {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

input {
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

button {
    background-color: gray;
    border: none;
    width: 70px;
    border-radius: 5px;
    font-weight: bold;
    color:white;
}